<nav class="navbar-brand-custom glass-nav sticky-top">
    <div class="container d-flex justify-content-between align-items-center py-3">
        <a routerLink="/" class="brand-logo text-gradient fw-bold fs-4 text-decoration-none">Tauhid Islam</a>
        <div class="nav-links d-none d-lg-flex gap-4">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="nav-link-custom">Home</a>
            <a routerLink="/about" routerLinkActive="active" class="nav-link-custom">About</a>
            <a routerLink="/experience" routerLinkActive="active" class="nav-link-custom">Experience</a>
            <a routerLink="/portfolio" routerLinkActive="active" class="nav-link-custom">Portfolio</a>
        </div>
        <a (click)="openEmail()" style="cursor: pointer;" class="btn-primary-custom text-decoration-none"><i
                class="fa-solid fa-paper-plane me-2"></i>Hire Me</a>
    </div>
</nav>